@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


        :root {
            --primary-color: #3d94f0;
            --secondary-color: #6c757d;
            --success-color: #28a745;
            --info-color: #17a2b8;
            --warning-color: #ffc107;
            --danger-color: #dc3545;
            --light-color: #f8f9fa;
            --dark-color: #343a40;
            --text-color: #333;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        html {
            font-size: 62.5%;
            overflow: auto;
        }

        body {
            font-size: 1.6rem;
            background-color: var(--light-color);
            color: var(--text-color);
        }
        
        .navbar {
            background-color: var(--primary-color);
            font-size: 24px;
            padding: 10px 0;
            font-size: 36px;
            display:flex ; /* Ajustar el tamaño del texto */ 
        }

        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        .logo {
            margin-left: 10%;
            font-weight: 500;
        }
        /* Estilos para la sección del clima */
        #clima-info {
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
        }
        .weather-card {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            width: 200px;
            border: 1px solid #ccc;
        }
        .weather-card img {
            max-width: 100px;
            margin-bottom: 10px;
        }
        .weather-card p {
            margin-bottom: 5px;
        }
        /* Estilos para el buscador */
        .search-box {
            margin-top: 20px;
            text-align: center;
        }
        .search-input {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .search-btn {
            padding: 8px 12px;
            border-radius: 5px;
            border: none;
            background-color: var(--primary-color);
            color: var(--light-color);
            cursor: pointer;
        }
        .search-btn:hover {
            background-color: var(--dark-color);
        }
        #footer {
            align-items: flex-end;      
            width: 100%;
            background-color: var(--primary-color);
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }
        
        .footer-left,
        .footer-right {
            flex: 1;
            margin: 0 10px;
        }
        
        .footer-center {
            flex: 0 0 auto;
            text-align: center;
        }

        .footer-right{
            margin-left: 60% ;
        }

        a {
            color: var(--warning-color);
        }

        a:hover {
            color: var(--danger-color);
        }


        .sticky {
            position: sticky;
            bottom: 0;
        }
        
        .absolute {
            position: absolute;
            bottom: 0;
        }

        .expand-btn {
            background-color: var(--primary-color);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .expand-btn:hover {
            background-color: var(--dark-color);
        }

        .expand-btn:active {
            background-color: var(--light-color);
            color: var(--dark-color);
        }