@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3d94f0;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --text-color: #333;

    --white-color: #ffffff;
    --gray-light-color: #cccccc;
    --gray-dark-color: #444444;
    --gray-darker-color: #262626;
    --gray-background-input: #444444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow: auto;
}

body {
    font-size: 1.6rem;
    background-color: var(--light-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color);
    font-size: 36px;
    padding: 10px 0;
    display: flex;
}

.navbar a {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 10px;
}

.logo {
    margin-left: 10%;
    font-weight: 500;
}

.toggle-mode {
    margin-left: auto;
    margin-right: 10%;
    display: flex;
    align-items: center;
}

#theme-toggle {
    margin-left: 20px;
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 2.4rem;
    cursor: pointer;
}

#theme-toggle i {
    pointer-events: none;
}

/* Estilos para la sección del clima */
#clima-info {
    margin-top: 30px;
}

.weather-card {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: var(--white-color);
    width: 220px;
    margin: 10px auto;
    border: 1px solid var(--gray-light-color);
    transition: transform 0.3s;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.weather-card p {
    margin-bottom: 5px;
}

/* Estilos para el buscador */
.search-box {
    margin-top: 20px;
    text-align: center;
}

.search-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--gray-light-color);
}

.search-btn {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--dark-color);
}

#footer {
    align-items: flex-end;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

a {
    color: var(--warning-color);
}

a:hover {
    color: var(--danger-color);
}

.sticky {
    position: sticky;
    bottom: 0;
}

.absolute {
    position: absolute;
    bottom: 0;
}

.expand-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.expand-btn:hover {
    background-color: var(--dark-color);
}

.expand-btn:active {
    background-color: var(--light-color);
    color: var(--dark-color);
}

@media (max-width: 768px) {
    .navbar {
        font-size: 24px;
    }

    .logo {
        margin-left: 5%;
    }

    /* El carrusel maneja la distribución de las tarjetas */
    #clima-info {
        margin-top: 30px;
    }

    .weather-card {
        margin-bottom: 20px;
    }

    .absolute {
        position: static;
    }

    #api-link, #api-image {
        display: none;
    }
}

/* Tema oscuro */
body.dark-mode {
    background-color: #2D2C2C;
    color: var(--light-color);
}

body.dark-mode .weather-card {
    background-color: var(--gray-darker-color);
    border-color: var(--gray-dark-color);
    color: var(--light-color);
}

body.dark-mode .search-input {
    background-color: var(--gray-background-input);
    color: var(--white-color);
    border-color: var(--gray-dark-color);
}

body.dark-mode a {
    color: var(--warning-color);
}

body.dark-mode #theme-toggle {
    color: var(--white-color);
}

#theme-toggle:hover {
    color: var(--warning-color);
    transform: scale(1.1);
    transition: color 0.3s, transform 0.3s;
}

body.dark-mode #theme-toggle:hover {
    color: var(--warning-color);
}

/* Estilos para el carrusel de pronóstico */
.swiper {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.hourly-forecast {
    display: none;
}

.hourly-weather {
    text-align: center;
    margin-bottom: 15px;
}

.collapse-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.collapse-btn:hover {
    background-color: var(--dark-color);
}
